extends layout

block content
    #browser

block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js')
    script(src='/javascripts/d3.layout.cloud.js')
    script(src='/javascripts/browser.js')
